<div class="main">
  <%= render "shared/header" %>

 
  <div class="title">
    <span class="text">MyPeko</span>
  </div>
  <div class="content">
    <%= image_tag "peko.jpg", class:"list-pict" %>
  </div>
  <div class="icon">  
    <%= link_to new_post_path, class: 'purchase-btn' do %>
    <span class='purchase-btn-text'>投稿する</span>
    <%= image_tag '食事アイコン.png' , size: '120x45' ,class: "purchase-btn-icon" %>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <% @posts.each do |post| %>
   <li class='list'>
        <%= link_to post_path(post.id) do %>
        <div class='item-img-content'>
          <%= image_tag post.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= post.name %>
          </h3>
        </div>
          <% end %>
      <% end %>
    </li>  
  <% end %>    
      <%= render "shared/footer" %>
</div>



  <%#= form_with(url: '#', local: true, method: :get, class: "search-form") do |form| %>
  <%#= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%#= form.submit "検索", class: "search-btn" %>
<%# end %>
 