<%= render "shared/header" %>
<div class="contents row">
  <div class="content_post" style="background-image: url(<%= "#" %>);">
    <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="more">
      <span><%= image_tag 'k0270_4.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_post_path(@post), method: :get %>
        </li>
        <li>
          <%= link_to '削除', post_path(@post), method: :delete %>
        </li>
      </ul>
    </div>
  <% end %>
    <%# @post.each do |post| %>    
  <div class="item-show">
  <div class="item-box">
 
    <h2 class="name">
      <%= @post.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @post.image, class:"item-box-img" %>
    </div>
     <div class="item-explain-box">
      <span><%= @post.comment %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @post.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @post.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">価格帯</th>
          <td class="detail-value"><%= @post.price.name %></td>
        </tr>
        <tr>
          <th class="detail-item">誰と来たいか</th>
          <td class="detail-value"><%= @post.scene.name %></td>
        </tr>
        <tr>
          <th class="detail-item">他人に教えるか</th>
          <td class="detail-value"><%= @post.teach.name %></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
 <%# end %>   
  </div>
    